:host {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90%;
  overflow: hidden;
}

.active-chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

app-message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: block;

  // Hide scrollbar for Webkit browsers (Chrome, Safari, Edge, Opera)
  &::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for IE/Edge (older versions)
  -ms-overflow-style: none;
}

app-chat-input {
  flex-shrink: 0;
  width: 100%;
}
